<span class="toggle-switch">
  <input
    id="<%= id %>"
    type="checkbox"
    class="toggle-switch-input"
    <%= checked ? "checked" : nil %>
  >
  <span class="toggle-switch-track"></span>
  <span class="toggle-switch-thumb"></span>
</span>
